
#app .leftPanel .tabsContent .options{
    overflow: hidden;

    .treeView{
        height: 30px;

        span{
            display: block;
            float: left;
            color: #fff;
            padding: 5px 4px 0 10px;
            font-size: 11px;
        }

        select{
            float: left;
            font-size: 11px;
        }
    }
}

#app .leftPanel .tabsContent .btn-group {
    .button{
        background-color: #D1D5DA;
        border: 1px solid grey;
        color: #000;
        font-size: 11px;
        margin: 0px;
    }
}
